{% extends "base.html" %}

{% block content %}

    <div class="mb-12">
        <h2 class="font-bold mb-4 text-2xl font-mono">
            Minecraft Unblocked Free Online Games
        </h2>
        <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6  gap-4">
            {# 首先获取所有带有 'new' tag 的文章 #}
            {% set articles_with_tag = [] %}
            {% for article in articles %}
                {% if 'minecraft' in article.tags|map(attribute='name') %}
                    {% set _ = articles_with_tag.append(article) %}
                {% endif %}
            {% endfor %}

            {# 对筛选后的文章进行排序（按日期倒序）#}
            {% set sorted_articles = articles_with_tag|sort(attribute='date', reverse=True) %}

            {# 只取前12篇文章 #}
            {% set articles_to_show = sorted_articles[:64] %}

            {# 显示筛选后的文章 #}
            {% for article in articles_to_show %}
                <a class="transition duration-300 ease-in-out hover:opacity-75" title="{{ article.title }}" href="{{ SITEURL }}/{{ article.url }}">
                    <img class="object-cover object-center rounded-md w-full max-h-[180px]" src="{{ article.banner }}" alt="{{ article.title }}">
                    <h3 class="mt-2 line-clamp-3">{{ article.title }}</h3>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}